<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/libs/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/libs/icons/font/bootstrap-icons.css" />
        <script src="~/libs/bootstrap/js/bootstrap.bundle.js"></script>
        <script src="~/libs/jquery/jquery.js"></script>
        <style>
            body {
                padding-top: 70px;
            }
        </style>
        @await RenderSectionAsync("styles", false)
        
    </environment>
   
</head>
<body>
    <nav class="navbar navbar-light bg-light fixed-top navbar-expand-md  shadow-sm">
        <div class="container-fluid">
            <span class="navbar-brand">SPA Application</span>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Home" >Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="SPA">SPA Page</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        @RenderBody()
    </div>
    <environment include="Development">
        @await RenderSectionAsync("scripts", false)
    </environment>
</body>
</html>
